body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.fsWindow {
	padding: 10px 0 0 10px;
}

.fsWindow p {
	margin: 0;
	padding: 10px 0;
}

#window1 {
	background: red;
}

#window2 {
	background: yellow;
}

#window3 {
	background: green;
}

#window4 {
	background: blue;
}